<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>system rezerwacji jachtów morskich</title>
</head>
<body>
<address>
    {{ user.username }}
</address>
<div>
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">logout</a>
    {% else %}
        <a href="{% url 'login' %}">login</a>
        <a href="{% url 'signup' %}">register</a>
    {% endif %}
</div>
<div class="content">
    {% include 'main_buttons.html' %}
    <h1>Witaj w systemie rezerwacji jachtów morskich</h1>
    {% block content %}
    {% endblock %}

</div>
</body>
</html>